@import "bootstrap/bootstrap";
@import "font-awesome/font-awesome";
@import "ionicons/ionicons";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
  font-family: 'Tungsten A', 'Tungsten B'; font-weight: 400; font-style: normal;
}

body {
  padding-top: 20px;
}

#wrapper{
  min-height:100%;
  position:relative;
}


.footer {
  width: 100%;
  height: 45px;
  text-align:center;
  background-color:#CC9933;
  position:absolute;
  p,
  ul {
    font-size:12px;
    background-color:#CC9933;
    color:black;
    margin-top:10px;
    padding:10px;
  }
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa,
[class^='ion-'] {
  margin-right: 6px;
}


//BRAM ADDED CSS


.ScholarMatchFont {
  color:#663333;
  font-size:22px;
}

.GettingStarted{
  text-align:center;
  color:#663333;
}

h1{
  font-size:32px;
  font-weight:bolder;
  text-transform: uppercase;
}

.textBoxHome{
  width:250px;
  height:35px;
  display:inline-block;
  border-radius: 5px;
  padding:5px;
  text-align:center;
  color: #663333;
  font-weight:bold;
}

#loginButton{
  height:40px; width:150px; font-size:16px; background-color:#663333; border-color:#663333;
}

.About{
  font-size:18px;
  color:#663333;
  margin-bottom:25px;
}

.AboutItem{
  font-size:18px;
  color:#663333;
  margin-bottom:10px;
  cursor:pointer;
}

.AboutItemAnswer{
  padding:0px;
  visibility:hidden;
  height:0px;
  cursor:default;
  margin-left:40px;
}

