@import "bootstrap/bootstrap";
@import "font-awesome/font-awesome";
@import "ionicons/ionicons";
@import "datetimepicker";

@import "scholarmatch/scaffolding";
@import "scholarmatch/app";


html {
  position: relative;
  //font-family: 'Tungsten A', 'Tungsten B'; font-weight: 400; font-style: normal;
  color:#663333;
  height: 100%;
  margin: 0;
}

body {
  min-height: 100%;
}

#wrapper{
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  position:relative;
  margin: 0 auto -45px; /* the bottom margin is the negative value of the footer's height */
}


.footer {
  width: 100%;
  text-align:center;
  //background-color:#CC9933;
  p,
  ul {
    font-size:12px;
    background-color:#CC9933;
    color:black;
    padding:10px;
    height:100%;
  }
  //work around to make the footer extend all the way down to the bottom
  box-shadow: 0px 500px 0px 500px #CC9933;
}

.container{
  height:100%;
  padding-top:25px;
  padding-bottom:10px;
  font-size:16px;
}

.container-colored{
  height:100%;
  padding-top:25px;
  background-color:#CCCC99;
  padding-bottom:10px;
  font-size:16px;
}

.header{
  padding-bottom:15px;
  vertical-align:middle;
}


// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa,
[class^='ion-'] {
  margin-right: 6px;
}


//BRAM ADDED CSS

.center-text{
  text-align:center;
  color:#663333;
}

h1{
  font-size:28px;
  font-weight:bold;
  text-transform: uppercase;
  text-align:center;
}

.text-box-home{
  width:250px;
  height:35px;
  display:inline-block;
  border-radius: 5px;
  padding:5px;
  text-align:center;
  color: #663333;
  font-weight:bold;
}

#login-button{
  height:40px; width:150px; font-size:16px; background-color:#663333; border-color:#663333;
}

.about{
  color:#663333;
  margin-bottom:25px;
  text-align:left;
}

.about-item{
  color:#663333;
  margin-bottom:10px;
  cursor:pointer;
}

.about-item-answer-hidden{
  visibility: hidden;
  padding:0;
  height: 0;
  margin-left:45px;
}

//header menu
.header-nav {
	float:right;
	position:relative; 
	top:25px;
}
.header-nav li{
	display: inline-block;
	padding:10px;
	padding-bottom:1px;
	font-size:18px;
}
.header-nav li a{
	color:#663333;
}
.header-nav li a:hover{
	text-decoration:none;
	color:#CCCC99;
}
.active-link{
	border-bottom: 2px solid #CC9933;
	padding-bottom:1px;
}

.split-content-in-half{
    width:35%;
    display:inline-block;  
    vertical-align:middle;
    text-align:left;
    margin-right:10px;
    margin-left: 10px;
}

.lead{
  font-size:18px;
}

#signup-form{
  width:45%;
  text-align:center;
}
.float-right{
  float:right;
  vertical-align:middle;
  text-align:right;
}

.dropdown-settings{
  text-align:left;
  padding:5px;
  background-color:#CC9933;
  visibility:visible;
  max-height:0;
  float:right;
}
.dropdown-settings-hidden{
  text-align:left;
  padding:5px;
  background-color:#CC9933;
  visibility: hidden;
  max-height: 0;
}
.item-in-dropdown-settings{
  width:200px;
  text-align:left;
  padding:10px;
  background-color:#CC9933;
  z-index:1;
  position:absolute;
}
.item-in-dropdown-settings a{
  color:black;
}
.item-in-dropdown-settings a:hover{
  color:#CCCC99;
  text-decoration:none;
}

.bg-warning{
  margin-left: auto;
  margin-right: auto;  
  list-style-type: none;
  text-align:center;
  padding: 0;
  background-color:inherit;
  color:red;
  font-size:16px;
}














