@import "bootstrap/bootstrap";
@import "font-awesome/font-awesome";
@import "ionicons/ionicons";
@import "datetimepicker";

@import "scholarmatch/scaffolding";
@import "scholarmatch/app";


html {
  position: relative;
  min-height: 100%;
  font-family: 'Tungsten A', 'Tungsten B'; font-weight: 400; font-style: normal;
  color:#663333;
  font-size:22px;
}

body {
  padding-top: 20px;
}

#wrapper{
  min-height:100%;
  position:relative;
}


.footer {
  width: 100%;
  height: 45px;
  text-align:center;
  background-color:#CC9933;
  position:absolute;
  //bottom:0;   <- need to fix a bug on some pages before live
  p,
  ul {
    font-size:12px;
    background-color:#CC9933;
    color:black;
    margin-top:10px;
    padding:10px;
  }
}

.header{
	margin-bottom:30px;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa,
[class^='ion-'] {
  margin-right: 6px;
}


//BRAM ADDED CSS

.CenterText{
  text-align:center;
  color:#663333;
}

h1{
  font-size:32px;
  font-weight:bolder;
  text-transform: uppercase;
  text-align:center;
}

.textBoxHome{
  width:250px;
  height:35px;
  display:inline-block;
  border-radius: 5px;
  padding:5px;
  text-align:center;
  color: #663333;
  font-weight:bold;
}

#loginButton{
  height:40px; width:150px; font-size:16px; background-color:#663333; border-color:#663333;
}

.About{
  font-size:18px;
  color:#663333;
  margin-bottom:25px;
  text-align:left;
}

.AboutItem{
  font-size:18px;
  color:#663333;
  margin-bottom:10px;
  cursor:pointer;
}

.AboutItemAnswer{
  padding:0px;
  visibility:hidden;
  height:0px;
  cursor:default;
  margin-left:40px;
}


//header menu
.HeaderNav {
	float:right;
	position:relative; 
	top:25px;
}
.HeaderNav li{
	display: inline-block;
	padding:15px;
	padding-bottom:1px;
	font-size:22px;
}
.HeaderNav li a{
	color:#663333;
}
/*only if we want to
.HeaderNav li:hover{
	color:green;
	text-decoration:none;
	background-color:#663333;
	color:white;
}
*/
.HeaderNav li a:hover{
	text-decoration:none;
	color:#CCCC99;
}
.ActiveLink{
	border-bottom: 2px solid #CC9933;
	padding-bottom:1px;
}